$font_family: Roboto, sans-serif;
.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 1235px;
  margin: 0 auto;
  font-family: $font_family
}
.header {
  height: 55px;
  background-color: rgba(0, 103, 163, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__title {
    color: rgba(255, 255, 255, 1);
    font: 400 28px / 100% $font_family;
    margin-left: 20px;
  }
  .profile {
    margin-right: 16px;
  }
}
.main {
  height: 590px;
  background-color: rgba(0, 121, 191, 1);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  .taskBlock {
    position: relative;
    .taskBlock__section_blockTask {
      position: relative;
      .taskBlock__section_blockTask_dropDownList {
        width: 100%;
        position: absolute;
        top: 38px;
        left: 0;
      }
    }

    .task__btn {
      width: 102px;
      height: 29px;
      margin-bottom: 8px;
      margin-left: 11px;
      border: none;
      align-self: flex-start;
      color: rgba(94, 108, 132, 1);
      cursor: pointer;
      border-radius: 5px;
      .taskBlock__section_list_btn_text {
        font: 18px Roboto, sans-serif;
        .taskBlock__section_list_btn_text_sp {
          font-size: 24px;
          line-height: 0;
          margin-right: 3px;
        }
      }
    }
    .task__btn:hover {
      color: rgba(94, 108, 132, 1);
      background-color: rgba(255, 255, 255, 1);

    }
    .task__btn_submit {
      color: rgba(94, 108, 132, 1);
      background-color: rgba(255, 255, 255, 1);
    }
    .task__btn_submit:hover {
      color: rgba(255, 255, 255, 1);
      background-color: rgba(0, 121, 191, 1);
    }
  }


}

.footer {
  height: 55px;
  background-color: rgba(0, 103, 163, 1);
}
